<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @deposits_product.cantidad %>
</p>

<%= link_to 'Edit', edit_deposits_product_path(@deposits_product) %> |
<%= link_to 'Back', deposits_products_path %>
